@font-face {
  font-family: myFont;
  src: url(hack/Hack-Bold.ttf);
}
.App {
  text-align: center;
  width: 100%;
  font-family: myFont;
  min-height: 100vh;
  text-decoration: underline;
  padding: 5%;
  background-image: linear-gradient(90deg, rgba(24,22,48,1) 0%, rgba(73,152,173,1) 24%, rgba(23,255,206,1) url('components/clouds.jpg'));
  background-position: center;
  background-size: cover;
}

.card {
  border: 1px solid;
  padding: -16px;
  margin-left: 90px;
  margin-right: 90px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.input-field {
  border-radius: 10px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 25px;
  margin: 10px;
}

.btn {
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}
